@font-face {
    font-family: 'robotoregular';
    src: url('/styles/fonts/roboto-regular-webfont.eot');
    src: url('/styles/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/styles/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('/styles/fonts/roboto-regular-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('/styles/fonts/roboto-light-webfont.eot');
    src: url('/styles/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/roboto-light-webfont.woff') format('woff'),
         url('/styles/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('/styles/fonts/roboto-light-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('/styles/fonts/roboto-medium-webfont.eot');
    src: url('/styles/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/roboto-medium-webfont.woff') format('woff'),
         url('/styles/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('/styles/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: #fff;
    color: #4D4D4D;
    font-family: 'robotoregular';
}

.backfaceVisibility {
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}

.layer {
    background-color: #444;
}

.filterIconImg {
    display: block;
    margin: auto;
}

.filterIconText {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    color: #000;
    text-align: center;
}

.available {
    opacity: 1;
}

.addText {
    color: #7A7A7A;
}

.unavailable {
    opacity: 0.1;
}

.list-item {
    height: 100%;
}

.list-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    vertical-align: middle;
}

.list-subject {
  position: absolute;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 16px;
  left: 72px;
  font-size: 16px;
  white-space: nowrap;
}

.list-type {
    color: #999999;
    position: absolute;
    left: 72px;
    top: 40px;
    font-size:14px;
}

.list-arrow {
    position: relative;
    top: 25px;
    margin-right: 5px;
    float: right;
}


/* topic page */

.topicAuthor, .topicSynapses {
  width: 50%;
  float: left;
}

.topicImageWrapper {
  height:30px;
  width:30px;
  padding:35px 10px;
  float:left;
}

.topicTextWrapper {
  padding-top:35px;   
}


