html {
    background-color: #fff;
    color: #fff;
    font-family: 'Arial'
}

.backfaceVisibility {
   -webkit-backface-visibility: visible;
   backface-visibility: visible;
}

.layer {
    background-color: #444;
}

.filterIconImg {
    display: block;
    margin: auto;
}

.filterIconText {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    color: #000;
    text-align: center;
}

.available {
    opacity: 1;
}

.unavailable {
    opacity: 0.1;
}

.list-item {
    height: 100%;
}

.list-icon {
    position: absolute;
    top: 20px;
    left: 5px;
    vertical-align: middle;
}

.list-subject {
  position: absolute;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 10px;
  left: 40px;
  font-size: 1.4em;
  font-weight: bold;
  white-space: nowrap;
}

.list-type {
    color: grey;
    position: absolute;
    left: 40px;
    top: 40px;
}

.list-arrow {
    position: relative;
    top: 25px;
    margin-right: 5px;
    float: right;
}


/* topic page */

.topicAuthor, .topicSynapses {
  width: 50%;
  float: left;
}

.topicImageWrapper {
  height:30px;
  width:30px;
  padding:35px 10px;
  float:left;
}

.topicTextWrapper {
  padding-top:35px;   
}


